beautifulsoup4==4.13.4
hf_xet==1.1.2
langchain-community==0.3.24
langchain-elasticsearch==0.3.2
langchain-huggingface==0.2.0
langchain-postgres==0.0.14
langchain-qdrant==0.2.0
langchain-sqlserver==0.1.2
langchain==0.3.25
psycopg[binary]==3.2.9
psycopg2-binary==2.9.10
pyodbc==5.2.0
pypdf==5.6.0
python-dotenv==1.1.0
qdrant-client==1.14.2
redis==6.2.0
sentence-transformers==4.1.0
unstructured[md]==0.17.2
