beautifulsoup4
hf_xet
langchain
langchain-community
langchain-elasticsearch
langchain-huggingface
langchain-postgres
langchain-qdrant
langchain-redis
langchain-sqlserver
pyodbc
pypdf
python-dotenv
qdrant-client
sentence-transformers
unstructured[md]
